# jsonをpandasで扱う
データを扱う形式をcsvかjsonで行おうと思っている

In [2]:
import pandas as pd
import json

In [3]:
user_id = 1
task_name = '洗濯物をたたむ'
task_info = '洗濯物が溜まってきたのでそろそろ畳まないといけない'
time_limit = {'year':2018, 'month':10, 'date':18}

In [5]:
df = pd.DataFrame({
    'user_id' : [user_id],
    'task_name' : [task_name],
    'task_info' : [task_info],
    'time_limit' : [time_limit]
})

In [6]:
df

   user_id task_name task_info                               time_limit
0        1     食器を洗う    食洗機欲しい  {'year': 2018, 'month': 10, 'date': 29}

In [6]:
df.to_json('1.json')

In [13]:
df1 = pd.read_json('1.json')

In [15]:
df1

,user_id,task_name,task_info,time_limit
0,1,洗濯物をたたむ,洗濯物が溜まってきたのでそろそろ畳まないといけない,"{'year': 2018, 'month': 10, 'date': 18}"

In [16]:
type(df1['time_limit'][0])

dict

In [4]:
user_id = 1
task_name = '食器を洗う'
task_info = '食洗機欲しい'
time_limit = {'year':2018, 'month':10, 'date':29}

In [8]:
df = pd.DataFrame({
    'user_id' : [user_id],
    'task_name' : [task_name],
    'task_info' : [task_info],
    'time_limit' : [time_limit]
})

In [9]:
df

   user_id task_name task_info                               time_limit
0        1     食器を洗う    食洗機欲しい  {'year': 2018, 'month': 10, 'date': 29}