# jsonをpandasで扱う
データを扱う形式をcsvかjsonで行おうと思っている

In [2]:
import pandas as pd
import json

In [30]:
task_dict1 = {'user_id' : [1],
                        'task_name' : ['洗濯物をたたむ'],
                        'task_info' : ['洗濯物が溜まってきたのでそろそろ畳まないといけない'],
                        'time_limit' : [{'year':2018, 'month':10, 'date':18}]}

In [36]:
task_dict1

{'user_id': [1],
 'task_name': ['洗濯物をたたむ'],
 'task_info': ['洗濯物が溜まってきたのでそろそろ畳まないといけない'],
 'time_limit': [{'year': 2018, 'month': 10, 'date': 18}]}

In [38]:
df = pd.DataFrame(task_dict1)

In [39]:
df

,user_id,task_name,task_info,time_limit
0,1,洗濯物をたたむ,洗濯物が溜まってきたのでそろそろ畳まないといけない,"{'year': 2018, 'month': 10, 'date': 18}"

In [6]:
df.to_json('1.json')

In [13]:
df1 = pd.read_json('1.json')

In [15]:
df1

,user_id,task_name,task_info,time_limit
0,1,洗濯物をたたむ,洗濯物が溜まってきたのでそろそろ畳まないといけない,"{'year': 2018, 'month': 10, 'date': 18}"

In [16]:
type(df1['time_limit'][0])

dict

In [61]:
task_dict2 = {'user_id' : 1,
    'task_name' : '食器を洗う',
    'task_info' : '食洗機欲しい',
    'time_limit' : {'year':2018, 'month':10, 'date':29}}

In [62]:
task_dict2

{'user_id': 1,
 'task_name': '食器を洗う',
 'task_info': '食洗機欲しい',
 'time_limit': {'year': 2018, 'month': 10, 'date': 29}}

In [64]:
task = pd.Series(task_dict2)

In [66]:
df

,user_id,task_name,task_info,time_limit
0,1,洗濯物をたたむ,洗濯物が溜まってきたのでそろそろ畳まないといけない,"{'year': 2018, 'month': 10, 'date': 18}"
1,[1],[食器を洗う],[食洗機欲しい],"[{'year': 2018, 'month': 10, 'date': 29}]"
2,[1],[食器を洗う],[食洗機欲しい],"[{'year': 2018, 'month': 10, 'date': 29}]"
3,[1],[食器を洗う],[食洗機欲しい],"[{'year': 2018, 'month': 10, 'date': 29}]"
4,[1],[食器を洗う],[食洗機欲しい],"[{'year': 2018, 'month': 10, 'date': 29}]"

In [67]:
task

user_id                                             1
task_name                                       食器を洗う
task_info                                      食洗機欲しい
time_limit    {'year': 2018, 'month': 10, 'date': 29}
dtype: object

In [68]:
df = df.append(task, ignore_index=True)

In [70]:
df

,user_id,task_name,task_info,time_limit
0,1,洗濯物をたたむ,洗濯物が溜まってきたのでそろそろ畳まないといけない,"{'year': 2018, 'month': 10, 'date': 18}"
1,[1],[食器を洗う],[食洗機欲しい],"[{'year': 2018, 'month': 10, 'date': 29}]"
2,[1],[食器を洗う],[食洗機欲しい],"[{'year': 2018, 'month': 10, 'date': 29}]"
3,[1],[食器を洗う],[食洗機欲しい],"[{'year': 2018, 'month': 10, 'date': 29}]"
4,[1],[食器を洗う],[食洗機欲しい],"[{'year': 2018, 'month': 10, 'date': 29}]"
5,1,食器を洗う,食洗機欲しい,"{'year': 2018, 'month': 10, 'date': 29}"

In [82]:
df = df.drop(df[df['task_name'] == '洗濯物をたたむ'].index)

In [83]:
df

  user_id task_name task_info                               time_limit
5       1     食器を洗う    食洗機欲しい  {'year': 2018, 'month': 10, 'date': 29}

# 空のDataFrameにcolumnを追加

In [93]:
df = pd.DataFrame(columns=['user_id', 'task_name', 'task_info', 'time_limit'])

In [94]:
df

Empty DataFrame
Columns: [user_id, task_name, task_info, time_limit]
Index: []